.awards {
    text-align: center;
    padding-top: 5rem;
    @include atMedium {
        padding-top: 11rem;
    }

    &__title {
        position: relative;
        padding-bottom: 1.667rem;
        display: inline-block;
        margin-bottom: 2.9167rem;
        @include atMedium {
            padding-bottom: 1.25rem;
            margin-bottom: 2.1875rem;
        }

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $color-primary;
        }
    }

    &__imgs {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: calc(5rem - 10px) -10px -20px -10px;
        @include atMedium {
            margin-top: calc(3.75rem - 20px);
        }

        &-item {
            width: calc(50% - 20px);
            margin: 10px;
            @include atMedium {
                margin: 20px 10px;
                width: calc(20% - 20px);
            }

            &--badge {
                width: 100%;
                @include atMedium {
                    width: calc(33.333% - 20px);
                }
            }
        }
    }
}